{% extends 'base.html' %}

{% block content %}

<<div class = "card-wrapper">
    <div class = "card">
        <h2 class = "center"> Log In</h2>
        <form name="Login">
            <label for="email">E-mail</label>
            <input type="text" name = "email" class = "field" required>
            <label for="password"> Password</label>
            <input type = "password" name="password" class = "field" required>
            <input type="submit" value="Login!">
             </form>
    </div>
</div>


<h1> Navigation </h1>
    <H2> Tutaj o to znajdziecie wszystkie moje posty od najnowszego do najstarszego </H2>
    {% for post in posts %}
    {{post.title}}
    {{post.body}}
    {{post.creaton}}
    {{post.tags }}
    {% endfor %}

{% endblock %}

